4.[[:space:]]Convolutional[[:space:]]Neural[[:space:]]Networks/Week[[:space:]]2/ResNets/ResNet50.h5 filter=lfs diff=lfs merge=lfs -text
4.[[:space:]]Convolutional[[:space:]]Neural[[:space:]]Networks/Week[[:space:]]3/Autonomous[[:space:]]Driving/model_data/yolo.h5 filter=lfs diff=lfs merge=lfs -text
4.[[:space:]]Convolutional[[:space:]]Neural[[:space:]]Networks/Week[[:space:]]4/Neural[[:space:]]Style[[:space:]]Transfer/pretrained-model/imagenet-vgg-verydeep-19.mat filter=lfs diff=lfs merge=lfs -text
